
<h2> My Heroes </h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/nathanDrake/{{hero.id}}"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
<!--(click)="onSelect(hero)"-->

<div>
  <label> Name Search:
  <input [(ngModel)] = "stupidName" placeholder="enter 'ere" /> </label>
<button (click) = "findByTheDarnName(stupidName)" > Click ME!</button>

<div *ngIf="imaginaryHero"> {{imaginaryHero.name}} {{imaginaryHero.id}}
</div>

</div>
